

    <div class="container-fluid">

        <div class="about row">
            <center>
                <h1 class="tech col-sm-3" >About Me</h1>
            </center>
            <img src="https://techtipsyt.in/images/techimage.jpg"
                alt="ABHIJITH" class="about-image img-thumbnail" style=" padding: 3px;">

        </div>
        <div class="about-para12">
            <h1 class="about-tech">Hello Everyone!, I AM HAVING A BIG DREAM TO SHARE <br> MY CRAFT, TECHY IDEAS,
                HISTORY, CHALLENGE GAMING, DISCUSSION <br> WITH U GUYS SO GUYS
                PLEASE SUPPORT ME... <br>
                LOVE YOU ALL...</h1>
        </div>
    </div>



<style>
    .about-image {
    margin-top: -134px;
    padding: 2em;
    max-height: 35em;
    border-radius: 25px;
    border: 5px solid #1fc7f1;
    max-width: 33em;
    padding: 10px;
    margin-bottom: 155px;
}

.tech {
    font-size: 2.25rem;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 11px 102px 2px 707px;
    font-size: 3.6em;
    padding: 0em;

}

.about-para {
    margin-left: 520px;
    margin-top: 10pt;
}

.about-tech {
     margin-left: 537px;
    letter-spacing: 10px;
    font-size: 2em;
    margin-top: -414pt;
    margin-bottom: 166px;
}
    
@media (min-width:710px) and (max-width: 985px) {

    .about-image {

        padding: 3px;
        margin-top: -12%;
    }

    .tech {

        margin-left: 522px;

    }

    .about-tech {
        margin-bottom: 0px;

    }

    .about-para12 {
        margin-bottom: -199px;
        letter-spacing: 0;
        font-size: 16px;
        margin-top: 53px;
    }


}

@media (min-width: 200px) and (max-width: 705px) {


    .about-image {

        padding: 3px;
        margin-top: 0%;
    }

    .tech {

        margin-left: 37px;

    }


    .about-tech {
           margin-bottom: 78px;
    width: 296px;

    }

    .about-para12 {
        margin-bottom: -64px;
        letter-spacing: 0;
        font-size: 9px;
        width: 10px;
        margin-top: 462px;
        margin-right: -411px;
        margin-left: -60em;
    }


}


@media (min-width: 999px) and (max-width: 1068px) {
    .about-para1 {
        margin: 0px, 0px, opx;
    }


}
</style>