<meta http-equiv="refresh" content="4; url=/">


<center><h1 class="soon">This Page Will Be Available Soon</h1></center>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
    .soon{
     font-family: 'Roboto Slab', serif;
     font-size: xx-large;
    }
</style>